*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}
li,a,button{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    width: auto;
    height: 80px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    padding: 30px 10%;
}
header img{

}
.nav__links{
    list-style: none;
    margin-left: 200px;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    margin-left: 20px;
}
.nav__links li a{
    font-size: 20px;
    transition: all 0.3 ease 0s;
}
.nav__links li a:hover{
    color:rgb(0, 185, 185);
}
.logo{
    margin-right: 70px;
    width: 70px;
    
}
.cta{
    margin-left: 15%;
    font-size: 18px;
    background-color:rgb(0, 185, 185) ;
    padding:8px 12px;
    border-radius:10px;
}
.cta:hover{
    background-color: #919191;
}
.col-2{
    display:flex;
    justify-content: space-between;
    background: radial-gradient(rgb(255, 255, 255),rgb(212, 212, 212));
}
.heading{
    margin-left:10%;
    margin-top:130px;
}
.heading .hed{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:70px;
    letter-spacing:0.2rem;
    font-weight:bolder;
}
.hed{
    color:#343434;
}
.hed span{
    color: #047400;
}
.para{
    margin-top: 30px;
    font-size:20px;
    line-height:2.2rem;
}
.para .p2{
    margin-top:40px;
    font-size:20px;
}
.btn{
    margin-top:50px;
}
.btn-1{
    font-size:25px;
    padding:5px 15px;
    color: rgb(255, 255, 255);
    background-color: #047400;
    border-radius:30px;
}
.btn-1:hover{
    background-color:rgb(0, 185, 185);
    transform: scaleX(2);
    transform: scaley(1.1);
    box-shadow: 1px 1px 10px rgb(188, 188, 188);
}
.img-1 img{
    margin-left:50px;
    margin-top: 130px;
    width:250px;
    box-shadow: 8px 8px 8px#1c2020
}
.para-1 p{
    font-size:17px;
    margin-top: 30px;
    margin-left:50px;
}
.img{
    filter: drop-shadow(20px 20px 100px #565656);
}
.p3{
    padding-top:30px;
    line-height:1.8rem;
    font-size:18px;
}