*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}
li,a,button{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    width: auto;
    height: 50px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
}
.nav__links{
    list-style: none;
    margin-left: 10px;
}
.nav__links li{
    display: inline-block;
}
.nav__links li a{
    font-size: 15px;
    transition: all 0.3 ease 0s;
    padding-left: 10px;
}
.nav__links li a:hover{
    color:rgb(0, 185, 185);
}
.logo{
    width: 50px;
    padding-left: 10px;
    
}
.cta{
    margin-left: 5%;
    font-size: 13px;
    background-color:rgb(0, 185, 185) ;
    padding:5px 8px;
    border-radius:10px;
}
.cta:hover{
    background-color: #919191;
}
.img-1 img{
    width:100%;
    margin-top:rem;
    margin-left:rem;
}
.para-1{
    text-align: center;
    padding-top:10px;
    font-size:20px;
    line-height: 2rem;
}
form{
    margin-left:7rem;
    margin-top:10px;
}
.heading{
    text-align: center;
    margin-top:20px;
}
.heading .hed{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    letter-spacing:0.2rem;
    font-weight:bolder;
}
.hed{
    color:#343434;
}
.hed span{
    color: #047400;
}
.img{
    margin-top:20px;
    margin-left:3.2rem;
    margin-bottom:10px;
}
.img img{
    width:290px;
    box-shadow: 5px 5px 5px #343434;
}
.col-4{
    background-color: #2e2e2e;
    padding-top: 20px;
    padding-bottom:20px;
}
.about{
    text-align: center;
}
.about p {
    color: white;
    font-size: 18px;
}
.about a{
    font-size: 18px;
    margin-left: 5px;
}
.about a:hover{
    color: rgb(0, 173, 216);
}
.contact{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
.contact i{
    padding:3px;
    color: aliceblue;
}
.contact i:hover{
    color: aqua;
}